@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(19, 63, 69);
    font-family: 'Orbitron', sans-serif;
}

header {
    background-color: rgb(31, 78, 89);
    height: 350px;
    border-bottom: 1px solid rgb(225, 187, 110);
}

#logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-inicial{
    padding: 20px;
}

a {
    display: none;
}

.menu-card {
    width: 500px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(225, 187, 110);
    border: 1px solid #fff;
    border-radius: 3px;
}

.texto-card {
    text-align: center;
    color: rgb(19, 63, 69);
    margin-top: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1.2em;

}

.menu-card:hover {
    transition-timing-function: linear;
    transition-duration: 700ms;
    background-color: rgb(228, 177, 51);
}